<launch>

    <node pkg="image_view" type="image_view" name="image_view_detection">
        <remap from="image" to="/blinker_tracker_viz/image_out" />
        <param name="atuosize" value="true" />
    </node>

    <!-- Live Detection -->
    <include file="$(find blinker_tracking)/launch/blinker_detection.launch" />

    <node name="blinker_tracker" pkg="blinker_tracking" type="blinker_tracker" output="screen">
        <remap from="~imu" to="/sync/imu/imu"/>
        <remap from="~blob" to="/blinker_detector/candidates"/>
    </node>

    <node name="blinker_tracker_viz" pkg="blinker_tracking" type="blinker_tracker_viz">
        <remap from="~blinkers" to="/blinker_tracker/blinkers"/>
    </node>

</launch>
